{% macro rollDice(multiplier, index, isSelected)%}
<div class="relative pb-full">

  <input id="{{index}}"
         {% if isSelected %}
         checked
         {% endif %}
         type="radio"
         name="dice"
         class="sr-only"
         value="Select d{{multiplier}}">

  <label for="{{index}}"
         @click="amount = `{{multiplier}}`, clearValue = true"
         class="absolute inset-0 flex rounded-lg">
    <span
          class="flex items-center justify-center flex-1 px-3 py-6 text-2xl leading-none tracking-wide text-center transition-all duration-150 ease-in-out border rounded-lg hover:bg-btn-hover-bg text-btn-text hover:text-btn-active-text bg-btn-bg border-btn-border shadow-btn">
      <span class="relative block transition-transform duration-150 ease-in-out">d{{multiplier}}</span>
    </span>
  </label>
</div>
{% endmacro %}