    <div
         class="relative flex items-center justify-between flex-1 px-6 py-8 overflow-hidden font-mono text-6xl leading-none border text-lcd-text bg-lcd-bg border-lcd-border rounded-xl shadow-lcd"
         style="--shadowColor: 74, 85, 104">

      <div class="grid w-20 h-20 text-gray-600 grid-absolute">
        {% for die in dice %}

        <div class="text-red-500 text-opacity-75 transition transform grid-inset-0"
             x-show="amount == '{{die.name | replace("d", "") }}'"
             x-transition:enter="ease-out duration-200"
             x-transition:enter-start="opacity-0 -rotate-90 scale-50"
             x-transition:enter-end="opacity-100 transform-none"
             x-transition:leave="ease-in duration-150"
             x-transition:leave-start="opacity-100 transform-none"
             x-transition:leave-end="opacity-0 rotate-90 scale-50">
          {% include "icons/" + die.name + ".svg" %}
        </div>

        {% endfor %}
      </div>



      <div
           class="flex">
        <span x-show="amount == 20 && clearValue == false && (outcome === 20 || outcome === 1)"
              class="font-mono text-base tracking-wide">nat</span>
        <span class="relative block text-opacity-10 text-lcd-text"
              style="font-variant-numeric: tabular-nums; user-select: none;">000
          <span
                x-text="outcome"
                x-show="clearValue == false"
                x-transition:enter="ease-out duration-100"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="ease-in duration-100"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="absolute inset-0 block text-right text-opacity-100 transition pointer-events-all text-lcd-text"
                style="user-select: all;"></span>
        </span>

      </div>
    </div>