    <div
         class="relative flex items-center justify-between flex-1 px-6 py-8 text-6xl leading-none resultDisplay rounded-xl">
      <div class="grid w-20 h-20 text-gray-600 grid-absolute">
        {% for die in dice %}

        <div class="text-red-500 text-opacity-75 transition transform grid-inset-0"
             x-show="amount == '{{die.name | replace("d", "") }}'"
             x-transition:enter="ease-out duration-200"
             x-transition:enter-start="opacity-0 -rotate-90 scale-50"
             x-transition:enter-end="opacity-100 transform-none"
             x-transition:leave="ease-in duration-150"
             x-transition:leave-start="opacity-100 transform-none"
             x-transition:leave-end="opacity-0 rotate-90 scale-50">
          {% include "icons/" + die.name + ".svg" %}
        </div>

        {% endfor %}
      </div>


      <div class="displayText">
        <div class="flex">
          <span x-show="amount == 20 && clearValue == false && (outcome === 20 || outcome === 1)"
                class="font-mono text-base tracking-wide">nat</span>
          <span
                x-text="outcome"
                x-show="clearValue == false"
                x-transition:enter="ease-out duration-100"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="ease-in duration-100"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                class="block text-right transition pointer-events-all"></span>

        </div>
      </div>
    </div>