      <div class="relative col-span-2">
        <a href="#" id="rollDice"
           class="absolute inset-0 flex cursor-pointer rounded-xl"
           @click.prevent
           @click="
              if (clearValue === true) {
                timeoutAmount = 1
              } else {
                timeoutAmount = 250
                clearValue = true
              }

              setTimeout( function() {
                clearValue = false
                outcome = Math.ceil(Math.random() * amount)
              }, timeoutAmount)">

          <span
                class="relative flex flex-col items-center justify-center flex-1 pb-2 mt-2 text-xl leading-none tracking-wide text-center sm:text-2xl btnSide rounded-xl">

            <span
                  class="absolute flex items-center justify-center w-full btnTop rounded-xl">
              roll a d<span x-text="amount"></span>
            </span>
          </span>
        </a>
      </div>