---
layout: default
title: Home
---

{% set dice = dice %}
{% import "components/_chooseDiceButton.njk" as chooseDiceButton %}

<main class="container flex flex-col justify-center flex-1 max-w-md py-20 space-y-8">

  <h1 class="text-5xl leading-none text-center text-gray-800">DnD Dice Roller!</h1>

  <div class="flex flex-col space-y-2"
       x-data="{
        amount: '20',
        outcome: '​',
        clearValue: true,
        timeoutAmount: 0
       }">

    {% include "components/_resultDisplay.njk" %}


    <div class="flex flex-col space-y-8 divide-y divide-gray-400 justify-stretch">

      {% include "components/_rollButton.njk" %}

      <div class="grid grid-cols-2 gap-4 pt-8 xs:grid-cols-3 sm:grid-cols-4">

        {% for die in dice %}

        {{ chooseDiceButton.rollDice(die.amount, loop.index, die.selected)}}

        {% endfor %}

      </div>

    </div>

  </div>
</main>