---
layout: default
title: Home
---

{% set dice = dice %}
{% import "components/_chooseDiceButton.njk" as chooseDiceButton %}

<main class="container flex flex-col justify-center flex-1 max-w-md py-8 space-y-8">

  <h1 class="text-5xl leading-none text-center text-gray-800 lowercase">DnD Dice Roller</h1>

  <div class="flex flex-col space-y-4"
       style="--shadowColor: 100,100,100;"
       x-data="{
        amount: '20',
        outcome: '​',
        clearValue: true,
        timeoutAmount: 0
       }">

    {% include "components/_resultDisplay.njk" %}


    <div class="flex-1 justify-stretch">

      <div class="grid flex-1 grid-cols-3 row-gap-4 col-gap-5 xs:grid-cols-4 sm:grid-cols-4">

        {% for die in dice %}

        {{ chooseDiceButton.rollDice(die.amount, loop.index, die.selected)}}

        {% endfor %}
        {% include "components/_rollButton.njk" %}
      </div>

    </div>

  </div>
</main>

{# <div
     class="fixed inset-0 pointer-events-none"
     style="background-image: url(/images/noise.png)">
     </div> #}