@font-face {
	font-family: "digital-numbers";
	src: url("/fonts/digital-numbers.woff") format("woff");
} 

@font-face {
	font-family: "gangster-grotesk";
	src: url("/fonts/GangsterGrotesk-Bold.woff") format("woff");
} 